/* Write your CSS here */

.main-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: #000000 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para {
  font-size: 32px;
}

.lightMode {
  background-color: #ffffff;
  color: #000000;
}

.button-styling {
  height: 32px;
  width: 90px;
  border: #000000 solid 1px;
  border-radius: 10px;
}
